{% extends "base.html" %}
{% load charts %}

{% block title %}Statistics{% endblock %}

{% block base_content %}
<h1>Statistics</h1>

{% for c in chartlist %}
  {% chart as tmp %}
    {% chart-size "600x400" %}
    {% chart-type "line" %}
    {% chart-title c.title %}

    {% axis "left" %}
      {% axis-range 0 c.range %}
    {% endaxis %}
    {% axis "bottom" %}
      {% axis-labels c.dates %}
    {% endaxis %}
  {% endchart %}
  
  {% for line in c.lines %}
    {% chart extends tmp as tmp %}
      {% chart-legend line.legend %}
      {% chart-colors line.color %}
      {% chart-data line.data %}
    {% endchart %}
    {% if forloop.last %}
      {{ tmp.img }}
    {% endif %}
  {% endfor %}
{% endfor %}

{% endblock %}
