{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block content %}
<h1>Uh oh.</h1>
<h3>Something bad happened.</h3>

<p>The software running this site hit something it couldn't deal with, so instead of what you were looking for, you get this page. I may already know how to fix it, but if you could send me a mail at <a href="mailto:griffith.637@osu.edu">griffith.637@osu.edu</a>, that would be great. You can also contact me through <a href="http://gamma-level.com/contact">other means</a>.</p>
{% endblock %}
